<template>
  <div>
    <div class="container">
      <h2>Goals</h2>
    </div>
    <div class="container">
      <p>This was a component created as example on Routes Animation</p>
    </div>
  </div>
</template>
