<template>
  <div>
    <div class="container">
      <users-list></users-list>
    </div>
    <div class="container">
      <div class="block" :class="{ animate: animatedBlock }"></div>
      <button @click="animateBlock">Animate</button>
    </div>
    <div class="container">
      <button @click="toggleParagraph">Toggle Paragraph</button>
      <!-- There is a way to run some js code whenever transition starts, ends, occurs, etc... and that is by setting up code or method that should run whenever
    the cycles of the transitions occur. The order of which these events are executed is as follows: before-enter > enter > after enter > before leave > leave > after leave-->
      <!-- :css="false" is used when we are 100% sure that we won't use CSS for this transition or animation. We don't have to do this of course, but for performance sake, if we do, it skips all that step of checking through the CSS for animation duration, etc etc. If we do use this however, it will completely ignore whatever we do with animation / transition for that element. So only use it if we use JS to control the transition. It was name="para" before, when we were doing that animation with CSS for that specific example, but since we don't use CSS we don't have to put any name on it, in order to target that element / events with CSS .-->
      <transition
        :css="false"
        @before-enter="beforeEnter"
        @enter="enter"
        @after-enter="afterEnter"
        @before-leave="beforeLeave"
        @leave="leave"
        @after-leave="afterLeave"
        @enter-cancelled="enterCancelled"
        @leave-cancelled="leaveCancelled"
      >
        <!-- Btw, these events are ALWAYS called when used <transition> element, no matter if u gonna use them, using them, or not. -->
        <!-- @enter-cancelled and @leave-cancelled events are called every time you start an animation before the previous one finishes. For example you have animation on Enter that happens for 5 seconds. If you have another animation for Leave on the same element, and u start it before the first one is finished, you might see a flicker. That is because the first one is still finishing, while the second one is starting. That is why these 2 events are useful. They are called when animation is being called before the previous one finishes, but if we don't actually use them in our JS, they don't really do anything. SO lets use them. -->
        <p v-if="paragraphVisible">This is only sometimes visible</p>
      </transition>
      <!-- the transition element is generally used when you have to animate stuffs that are removed from the DOM, like with the v-if statement here, or the modal below. In that case we cannot use CSS for stuffs that are not in the DOM, so the <transition> vue element is perfect for this, because it helps us animate the removal the element from the DOM and which through CSS is not possible, because the element is removed and it doesn't exist.-->
    </div>
    <div class="container">
      <transition name="fade-button" mode="out-in">
        <button @click="showUsers" v-if="!usersShown">Show Users</button>
        <button @click="hideUsers" v-else>Hide Users</button>
      </transition>
    </div>
    <!-- In the above scenario we'll see how to use <transition> on 2 root elements without causing an error. In scenario when we want to transition from one element to another, this is possible, and here is how 
    That will work ONLY if you can guarantee the dom, that out of all the elements wrapped around <transition>, only one element will be visible at the time. As we've done with the buttons above. 
      The only way to guarantee that is by using v-else, instead of 2 v-if's. in this case we can usr "mode" in the transition elements with in-out or out-in argument, so it knows which element to get rendered first. The one that comes in, or the one that goes out.-->
    <base-modal @close="hideDialog" :open="dialogIsVisible">
      <p>This is a test dialog!</p>
      <button @click="hideDialog">Close it!</button>
    </base-modal>
    <div class="container">
      <button @click="showDialog">Show Dialog</button>
    </div>
  </div>
</template>

<script>
import UsersList from "../components/UsersList.vue";
export default {
  components: {
    UsersList,
  },
  data() {
    return {
      animatedBlock: false,
      dialogIsVisible: false,
      paragraphVisible: false,
      usersShown: false,
      //We have created these as data property coz we can't use the const Interval that is inside the enter/leave methods outside of the method. And in order to use the enterCancelled / leaveCancelled methods, we have to be able to access the interval, and cancel it, so we avoid the flicker that happens whenever animation is getting triggered before other animation on same element is going on.
      enterInterval: null,
      leaveInterval: null,
    };
  },
  methods: {
    showDialog() {
      this.dialogIsVisible = true;
    },
    hideDialog() {
      this.dialogIsVisible = false;
    },
    animateBlock() {
      this.animatedBlock = false;
      setTimeout(() => {
        this.animatedBlock = true;
      }, 500);
    },
    toggleParagraph() {
      this.paragraphVisible = !this.paragraphVisible;
    },
    showUsers() {
      this.usersShown = true;
    },
    hideUsers() {
      this.usersShown = false;
    },
    //these are methods I added to check the <transition> events that are being sent automatically by the <transition> element.
    //these events also send argument in with it, that is the element that the transition occurs at.
    enterCancelled(el) {
      clearInterval(this.enterInterval);
      console.log(el);
    },
    leaveCancelled(el) {
      clearInterval(this.leaveInterval);
      console.log(el);
    },
    beforeEnter(el) {
      console.log("Before Enter");
      console.log(el);
      el.style.opacity = 0;
    },
    enter(el, done) {
      console.log("enter");
      let round = 1;
      // we have swapped here from setInterval(function() {}) syntax to arrow function because are using this. into the function context which will not mean the same, as the data property above. If we want to prevent overwriting the this and actually be able to access the data property from inside the interval function we ahve to use () => {}.
      this.enterInterval = setInterval(() => {
        el.style.opacity = round * 0.05;
        round++;
        if (round > 20) {
          clearInterval(this.enterInterval);
          done();
          // if we use "done" as argument in the any of the <transition> methods like enter... we have to call it in the method, so Vue knows when to stop the said method. It's very useful so we can make animations, since Vue cannot know when it should call the next method like beforeEnter > Enter > afterEnter > beforeLeave > etc. We have to explicitly call "done()" to tell Vue "okay we are done with this move to the next method.". If we don't use done as argument in the method, it will just call all the methods one after another, because finding the delay out of a js code is too logical, so once it goes through the code once, it will call the next. If we are doing a CSS animation, it's different because it's easy to spot the delay in a CSS code.
        }
      }, 20);
    },
    afterEnter(el) {
      console.log("after enter");
      console.log(el);
    },
    beforeLeave(el) {
      console.log("Before Leave");
      //It's good here to set the opacity to 100 (or 1) before starting the fade away. It's a bit reduntant, because we are starting from 100% opacity, but just in case, it's good to state it explicitly so we have no error with our code
      el.style.opacity = 1;
    },
    leave(el, done) {
      console.log("leave");
      /* let round = 20;
      const interval = setInterval(function() {
        el.style.opacity = round * 0.05;
        round--;
        if (round < 1) { */
      /* This was my way of doing it Which works 100% as well */
      let round = 1;
      this.leaveInterval = setInterval(() => {
        el.style.opacity = 1 - round * 0.05;
        round++;
        if (round > 20) {
          clearInterval(this.leaveInterval);
          done();
        }
      }, 20);
      /* This is how Max did it in the guide. Both work, but just to be clear that there are alternatives */
    },
    afterLeave(el) {
      console.log("after leave");
      console.log(el);
    },
  },
};
</script>

<style scoped>
* {
  box-sizing: border-box;
}

.block {
  width: 8rem;
  height: 8rem;
  background-color: #290033;
  margin-bottom: 2rem;
  /* transition: transform 0.3s ease-out; */
}

.fade-button-leave-to,
.fade-button-enter-from {
  opacity: 0;
}
.fade-button-enter-active {
  transition: opacity 0.3s ease-out;
}
.fade-button-leave-active {
  transition: opacity 0.3 ease-in;
}
.fade-button-leave-from,
.fade-button-enter-to {
  opacity: 1;
}
/* Using the <transition> element in Vue template adds these 3 utility classes to
the child elements it's inside of it. In this case to the paragraph above. 
Everytime the transition is being called it adds enter-from and enter-active, then removes enter-from, and adds enter-to classes to the element. enter-active stays all the time on, until the transition is completed, then together with enter-to gets removed.
Removing the element is pretty much the same as adding it. Vue adds again 3 more utility classes to the element called leave-from and leave-to and leave active. It adds from and active at the start, then it removes the from class, and adds to. active stays on all the time, and it gets removed together with to at the end.
Also note: In order for this animation to happen, VUE expects us to add some transition or animation css property in these to fro active classes, so it can read the duration of the transition that we are setting up with the <transition> element.*/

/*
.v-enter-from {
  opacity: 0;
  transform: translateY(-30px);
}

.v-enter-active {
  transition: all 0.3s ease-out;
}

.v-enter-to {
  opacity: 1;
  transform: translateY(0);
}

.v-leave-from {
  opacity: 1;
  transform: translateY(0);
}

.v-leave-active {
  transition: all 0.3s ease-in;
}

.v-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
*/

/* The example above works, and it's great if you only need transition for the element removal.
In the active class is where we put our duration by defining transition.
and we set "all" there so it animates all the CSS properties we are using in these classes. 
But sometimes this is not enough, and you need to build a more complex animation.*/

/* I am commenting these para classes, because we'll build the paragraph animation with JS instead of CC */

/* .para-enter-active {
  animation: slide-scale 1s ease-out;
} */

/* We also don't have to do forwards here, because those to-from-active classes are removed as soon as the animation is complete */

/* .para-leave-active {
  animation: slide-scale 1s ease-in;
} */
/* instead of using the default v- name we can use custom name that we set
like the para above, by setting <transition name="para"> above in the template.
in case we have to use the <transition> to animate different elements around the template
the named transition elements helps us create different transitions and animations for different elements by using named transitions.
If you don't want to use leave-active or enter-to at all, and instead of just changing v- or para- you want to completely replace the whole class name
that is possible too. In the transition element, instead of setting name you can set the class names to any value you want like this:
<transition enter-to-class="entert" enter-active-class="entera"> etc... you can set all the classes that vue creates with the transition element like this, if you need.
Ofcourse entert and entera are just names that I've come up with, it's totally up to you which names you'll use for each class.*/

/* In this case we can skip using the to and from classes, if we are defining our whole animation
by ourselves in the active class. we can use inside the active class, css animations that we had defined ealier, like the "slide-scale" one. */
</style>

<style>
.animate {
  /* transform: translateX(-150px); */
  /* -webkit-animation: slide-scale 0.3s ease-out forwards; */
  animation: slide-scale 0.3s ease-out forwards;
  /*  -moz-animation: slide-scale 0.3s ease-out forwards; */

  /* we could have done it by using the transform that is commented out and then adding the transition in the root class (block in our case),
  with the @keyframes and animation we have a lot more options and its a lot more flexible. */
  /*forwards at the end of animation means "keep the last keyframe as ending" so it doesnt snap back to first one after animation is done.*/
}

/* @-webkit-keyframes slide-scale {
  0% {
    transform: translateX(0) scale(1);
  }

  70% {
    transform: translateX(-120px) scale(1.1);
  }

  100% {
    transform: translateX(-150px) scale(1);
  }
} */

@keyframes slide-scale {
  0% {
    transform: translateX(0) scale(1);
  }

  70% {
    transform: translateX(-120px) scale(1.1);
  }

  100% {
    transform: translateX(-150px) scale(1);
  }
}

/* @-moz-keyframes slide-scale {
  0% {
    transform: translateX(0) scale(1);
  }

  70% {
    transform: translateX(-120px) scale(1.1);
  }

  100% {
    transform: translateX(-150px) scale(1);
  }
} */
</style>
