<template>
  <div v-if="open" class="backdrop" @click="$emit('close')"></div>
  <transition name="modal">
    <dialog open v-if="open">
      <slot></slot>
    </dialog>
  </transition>
  <!-- One note tho. We had the modal opening and closing with v-if in the App.vue, but that way the <transition> won't work if it's placed in the App.vue because the transition element requires only one root element. 
    However as can be seen, in the BaseModal component we have 2 root elements... one for the dialog, and one for the backdrop. There are couple ways of fixin this issue, but the best one for this scenario was to move
    the transition inside our component, and expect the prop "open" to tell us when the dialog will be shown, instead of using v-if in the App.vue.
    There is an exception to this rule, and of it is when you want to transition from one element to another. Check app.vue for more info.-->
</template>

<script>
export default {
  props: ["open"],
  emits: ["close"],
};
</script>

<style scoped>
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}

dialog {
  position: fixed;
  top: 30vh;
  width: 30rem;
  left: calc(50% - 15rem);
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  padding: 1rem;
  background-color: white;
  z-index: 100;
  border: none;
  /* animation: modal 0.3s ease-out forwards; */
  /* this type of animation wont help us animate the closing of the modal, because
  the modal gets removed from the DOM completely, and instanly. We have to use the <transition> element in App.vue*/
}

.modal-enter-active {
  animation: modal 0.3s ease-out;
}

.modal-leave-active {
  animation: modal 0.3s ease-in reverse;
}
</style>

<style>
@keyframes modal {
  from {
    opacity: 0;
    transform: translateY(-50px) scale(0.9);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
</style>
