<template>
  <div>
    <p class="small">(Enter to Add, Click on Item to Remove)</p>
    <input
      placeholder="Add Stuff Here"
      type="text"
      v-model="userNameInput"
      @keydown.enter="addUser"
    />
  </div>
  <transition name="para">
    <p v-if="users.length === 0">
      Your list is empty. Add stuff!
    </p>
  </transition>
  <!-- While <transition> was not rendering any element to the dom, <transition-group> does render an element. You can however specify which element it renders. In our case we going with UL because it makes sense, but you can even use custom components in the place of it. -->
  <!-- <transition-group> will also add all the css clases, and properties that corresponds to the element you specify. So if we have any CSS for ul, and we are using ul as tag element in the group, it will add those classes as well. Same as <transition> it also checks for css animations, duration of animation, etc.
    Another same thing as <transition> is that "name="name"" will be exactly the same as with <transition> when it comes to the specific classes that it creates for making those transitions. name-enter-from, name-enter-active, name-after-enter, name-leave-from, etc. -->
  <transition-group tag="ul" name="user-list">
    <li v-for="user in users" :key="user" @click="deleteUser(user)">
      {{ user }}
    </li>
  </transition-group>
</template>

<script>
export default {
  data() {
    return {
      userNameInput: '',
      users: []
    };
  },
  methods: {
    deleteUser(user) {
      // this re-creates new array based on the previous array, by leaving in the new array all users that DON'T match the user that we are searching for
      // generally filter is used to remove everyone that doesn't match specific filter
      // here we flipped it, and we are keeping everyone that doesn't match, or remove the one that match, whichever u prefer.
      this.users = this.users.filter(usr => usr !== user);
    },
    addUser() {
      this.users.push(this.userNameInput);
      this.userNameInput = '';
    }
  }
};
</script>

<style scoped>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input {
  margin-bottom: 10px;
}
li {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 10px;
  text-align: center;
  min-width: 223px;
  border-radius: 5px;
}
.small {
  font-size: 10px;
  color: ccc;
  text-align: center;
}

.user-list-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}
.user-list-enter-active {
  transition: all 0.3s ease-out;
}
.user-list-enter-to {
  opacity: 1;
  transform: translateX(0px);
}

.user-list-leave-from {
  opacity: 1;
  transform: translateX(0px);
}
.user-list-leave-active {
  transition: all 0.15s ease-in;
  position: absolute;
}
.user-list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.user-list-move {
  transition: transform 0.2s ease;
}

.para-enter-from {
  opacity: 0;
  transform: translateY(-30px);
}
.para-enter-active {
  transition: all 0.15s ease-out;
}
.para-enter-to {
  opacity: 1;
  transform: translateY(0px);
}

.para-leave-from {
  opacity: 1;
  transform: translateY(0px);
}
.para-leave-active {
  transition: all 0.1s ease-in;
}
.para-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}
</style>
