<template>
  <div>
    <span><router-link to="/">Home</router-link></span>
    <span><router-link to="/goals">Goals</router-link></span>
  </div>
</template>

<style scoped>
div {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
}
span {
  margin: 15px;
}
a {
  text-decoration: none;
  color: black;
}
</style>
